:root {
  --main-font: 'Fira Mono',monospace;
  --secondary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --white: #f9fbfa;
  --green: #0AD05B;
  --green-light: #54c49b;
  --green-linear-gradient: linear-gradient(transparent, transparent),linear-gradient(transparent, transparent),linear-gradient( 270deg, #0AD05B 0%, #2F9FC5 100% );
  --gray: #9FA1A2;
  --gray-blue: #21313c;
  --dark-blue: #061621;
  --dark-blue-second: #0C1C27;
  --pink: #d55189;

  --tip-section-width: 60%;
  --border-width: 2px;
}


/* UNIVERSAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--dark-blue);
  color: var(--white);
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  color: var(--green);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.highlight {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border-width) solid var(--green-light);
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

.highlight-no-border {
  color: var(--pink);
  font-size: 14px;
  font-weight: bold;
}


/* CODE & FILE SELECTION AREA */

.code-section-container {
  width: calc(100% - var(--tip-section-width));
  display: flex;
  flex-direction: column;
  border-right: var(--border-width) solid var(--green-light);
}

.code-section-container .upper {
  height: 70%;
}

.code-section-header {
  width: 100%;
  height: 45px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  border-bottom: var(--border-width) solid var(--green-light);    /* CHANGE TO GRADIENT */
  background-color: var(--gray-blue);
}

.breadcrumb {
  color: var(--gray);
  font-size: 12px;
  font-weight: bold;
}

.breadcrumb:not(:last-child)::after {
  content: ' → ';
  margin: 0 12px;
  font-size: 14px;
  color: var(--green);
}

.breadcrumb-highlighted {
  color: var(--white);
}

.code-section-image-container {
  height: calc(100% - 45px);
  overflow: auto;
  scrollbar-width: thin;
}

.files-container {
  flex: 1;
  padding: 30px;
  border-top: 1px solid var(--gray-blue);
  background-color: var(--dark-blue);
  overflow-y: auto;
  scrollbar-width: none;
}

.files-table {
  width: 100%;
}

.files-table tr {
  font-family: var(--secondary-font);
  text-align: left;
}

.files-table th {
  font-weight: bold;
}

.files-table td {
  height: 35px;
}

.files-table .td-detection {
  display: flex;
  align-items: center;
  text-transform: lowercase;
  color: var(--gray);
}

.files-table .highlight-no-border {
  margin-right: 10px;
}

.file-icon {
  margin-bottom: -5px;
  margin-right: 10px;
}


/* QUICK TIP / SUGGESTIONS AREA */

.tip-section-container {
  width: var(--tip-section-width);
  padding: 60px;
  overflow-y: auto;
  scrollbar-width: none;
}

.tip {
  margin-bottom: 40px;
}

.tip-header {
  display: flex;
}

.tip-title {
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
  line-height: 32px;
}

.tip-text {
  margin: 25px 0;
  padding: 30px;
  background-color: var(--dark-blue-second);
  color: var(--gray);
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 32px;
}

.tip-section-image-container {
  width: 100%;
  display: flex;
}

.tip-code {
  height: 100%;
  margin: auto;
}

.tip-footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.tip-footer > a {
  font-size: 12px;
  font-weight: bold;
}
